.sidenav {
  max-width: 450px;
  min-width: 200px;
  transition: 0.3s ease-in-out;
  background-color: rgb(75, 35, 54);
  color: whitesmoke;
  margin-top: 72px;
  padding-top: 15px;
  padding-left: 15px;
}
@media only screen and (max-width: 600px) {
  .sidenavClosed {
    position: absolute;
    z-index: 15;
    top: 5px;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 10px !important;
    border-collapse: separate;
  }
  .sideitem {
    display: none;
  }
}

.sidenavClosed {
  transition: 0.3s ease-in-out;
  padding-right: 15px;
  max-width: 100px;
  margin-top: 72px;
  padding-top: 15px;
  background-color: rgb(75, 35, 54);
  color: whitesmoke;
  padding-left: 4px;
}

.sideitem {
  display: flex;
  position: absolute;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #b2bac2;
  text-decoration: none;
  overflow: hidden;
}

.sideitem:hover {
  background-color: #244f7d1c;
}
.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #b2bac2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 10px;
}
